body
{
    margin:0px;
    padding:0px;
    background-color: rgb(254, 255, 222) ;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100vw;
    height: 100vh;
    flex-direction: column;  
}

h1 {
    padding: 0px;
    margin: 0px;
    color: #52734D;
}

li {
  list-style-type: square;
  font-size: large;
  font-weight: 500;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 255, 222);
    flex-direction: column;  
    margin:0px;
    padding:0px;
  }

.control {
    width: 500px;
    height: 150px;
    padding: 30px;
    margin: 0;
    border-radius: 25px;
    border: rgb(108, 108, 108) solid;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: #ffffff;
    margin:0px;
    padding:0px;

}  
.device {
  background-color: rgba(167, 167, 216, 0);
  display: flex;
  width: 500px;
  height: 75px;
  margin:0px;
  padding:0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: #8a8a8a;
}

#modifyBtn {
  padding: 0;
  margin: 0;
  border: solid 5px;
  background-color: #7ab371;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  box-shadow: 0;
}

button{
  border: solid 5px;
  margin: 30px;
  background-color: #7ab371;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  box-shadow: 0;
}
select{
  width: 200px;
  height: 35px;
  margin-top: 10px;
}

#location.connect_info {
  margin: 0;
  padding: 0;
}

#inputValue {
  width: 195px;
  height: 20px;
  margin-right: 35px;
}
option{
  width: 200px;
  height: 35px;
  
}
.connect {
  font-size: large;
  font-weight: 500;
  padding: 30px;
  margin: 0px;
}
.connect_info {
  font-size: large;
  font-weight: 500;
  padding: 30px;
  margin-right: 150px;
}

.tag {
  background-color: rgba(136, 255, 0, 0);
  display: flex;
  width: 500px;
  height: 75px;
  margin:0px;
  padding:0px;
  justify-content: flex-start;
  align-items: center;
}
.title {
    font-weight: 1000;
    font-size: large;
    background-color: rgb(254, 255, 222);
    color: #52734D;
    background-color: rgba(0, 0, 255, 0);
}
  
  /* ScrolBar  */
  .scrollbar
  {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  }
  
  .scrollbar:hover
  {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  }
  
  /* Scrollbar Style */ 
  
  #style-1::-webkit-scrollbar-track
  {
  border-radius: 2px;
  }
  
  #style-1::-webkit-scrollbar
  {
  width: 5px;
  background-color: #F7F7F7;
  }

  #style-1::-webkit-scrollbar-thumb
  {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BFBFBF;
  }
  /* Scrollbar End */ 
  
  .fa {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  top:12px; 
  font-size:20px;
  }
  
  .main-menu:hover, nav.main-menu.expanded {
  width:250px;
  overflow:hidden;
  opacity:1;
  
  }
  
  .main-menu {
  background:#F7F7F7;
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:55px;
  overflow:hidden;
  -webkit-transition:width .2s linear;
  transition:width .2s linear;
  
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity:1;
  }
  
  .main-menu>ul {
  margin:7px 0;
  
  }
  
  .main-menu li {
  position:relative;
  display:block;
  width: 150px;
  }
  
  .main-menu li>a {
  position:relative;
  width:255px;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#8a8a8a;
  font-size: 13px;
  text-decoration:none;
  
  -webkit-transition:all .14s linear;
  transition:all .14s linear;
  font-family: 'Strait', sans-serif;
  border-top:1px solid #f2f2f2;
  
  text-shadow: 1px 1px 1px  #fff;  
  }
  
  .main-menu .nav-text  {
     
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-family: 'Titillium Web', sans-serif;
  }
  
  
  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
    
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  text-transform: uppercase;
  }
  
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color: #52734D;
  text-shadow: 0px 0px 0px; 
  }
  .area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
  }
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  